#logo {
    widows: 5px; 0px;
    width: 100px;
    display: block;
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 100px;
    margin-left: 100px;
    background-color: #ffffe6;
    padding: 20px;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid red;
    padding: 5px;
}

h1 {
    color: blue;
    text-align: center;
}

h3 {
    font-style: italic; 
    text-align: center;
}

ul {
    text-align: left;
}

li {
    text-align: left;
}

main {
    text-align: center;
}